config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/config" xmlns:tns="http://www.example.org/config">
  <xs:element name="Settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Servers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Server" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="id"/>
                    <xs:element type="xs:string" name="ip"/>
                    <xs:element type="xs:string" name="model"/>
                    <xs:element type="xs:string" name="ports"/>
                    <xs:element type="xs:string" name="protocol"/>
                    <xs:element type="xs:string" name="command"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>